<ion-view>
    <!--    <ion-content padding="false" class="manual-remove-top-padding">-->
<!--    <ion-content class="card-background-page">-->
            <ion-content >
        <ion-card>
            <img src="img/castle1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
            <br />
        </ion-card>

        <ion-card>
            <img src="img/home10.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home27.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home21.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home7.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home18.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home24.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home30.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home37.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home38.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home40.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>

        <ion-card>
            <img src="img/home13.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>
        <ion-card>
            <img src="img/home25.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>
        <ion-card>
            <img src="img/home43.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
             <br />
        </ion-card>
        <ion-card>
            <img src="img/home31.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;" />
            <div class="card-title"></div>
            <div class="card-subtitle"></div>
        </ion-card>
    </ion-content>


</ion-view>