<ion-view>
    <ion-content padding="false" class="manual-remove-top-padding">
        <div>
            <img src="img/castle1.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="list card">

            <a href="#" class="item item-icon-left item-text-wrap">
                <!--                <i class="icon ion-heart"></i>-->
                <h2 style="text-align:left;">About this app</h2>
                <p>I made this app for myself as a reminder of the resources and tools that I can use daily to help manage states such as</p>
                <ul>
                    <li>frustration</li>
                    <li>tiredness</li>
                    <li>overwhelm</li>
                    <li>stress</li>
                    <p>If it helps you, too, that's awesome. All the best to you on this path.</p>
                </ul>
            </a>

            <a href="#" class="item item-icon-left item-text-wrap">
                <i class="icon ion-images"></i> Most of the images used in this app are from this awesome resource: http://maxpixel.freegreatpicture.com/
            </a>


        </div>
    </ion-content>
</ion-view>


<section>
    <p>I made this app for myself as a reminder of the resources and tools that I can use daily to help manage states such as</p>
    <ul class="home-page-list-1">
        <li>frustration</li>
        <li>tiredness</li>
        <li>overwhelm</li>
        <li>stress</li>
    </ul>
</section>

.home-page-list-1 { list-style-type: disc; }