<ion-view id="page1" style=""  hide-nav-bar="true">
  <ion-tabs class="tabs-stable tabs-icon-top" id="tabsController-tabs1" style="">
    <ion-tab title="Home" icon="ion-home" href="#/page1/home" id="tabsController-tab1">
      <ion-nav-view name="tab1" ></ion-nav-view>
    </ion-tab>
    <ion-tab title="Tools" icon="ion-settings" href="#/page1/tools" id="tabsController-tab4">
      <ion-nav-view name="tab4" ></ion-nav-view>
    </ion-tab>
    <ion-tab title="Comfort" icon="ion-coffee" href="#/page1/comfort" id="tabsController-tab5">
      <ion-nav-view name="tab5" ></ion-nav-view>
    </ion-tab>
    <ion-tab title="Potions" icon="ion-ios-flask" href="#/page1/potions" id="tabsController-tab2" >
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>