<ion-view title="Tools" id="page3" style="" hide-nav-bar="true">
  <ion-nav-buttons side="right" >
    <button class="button button-icon icon ion-wrench"></button>
  </ion-nav-buttons>
  <ion-content padding="true" >
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="tools-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="tools-slide26" style="background:url(&quot;img/XYqrFaCkQCqvhboN4eUX_Sun-Beach-Summer-Holiday-Relaxation-2120259.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="tools-slide28">
        <h1 id="tools-heading8" style="color: rgb(0, 0, 0);">Slide 4</h1>
      </ion-slide-page>
      <ion-slide-page id="tools-slide29">
        <h1 id="tools-heading9" style="color: rgb(0, 0, 0);">Slide 5</h1>
      </ion-slide-page>
    </ion-slides>
    <div>
      <style>
        p {
            color: purple;
           font-weight: bold;
           font-size:24px;
           }
      </style>
      <br>
      <p style="text-align: center;">
        Expansion </p>
    </div>
  </ion-content>
</ion-view>