<ion-view title="Comfort" id="page4" style="">
  <ion-content padding="true" class="has-header">
    <div id="comfort-markdown2" class="show-list-numbers-and-dots"></div>
    <ion-list id="comfort-list2">
      <ion-item id="comfort-list-item5" ui-sref="tabsController.breathing()" style="">Breathing...</ion-item>
      <ion-item id="comfort-list-item6" style="">Mmm...</ion-item>
      <ion-item id="comfort-list-item7" style="">Warren of drone bunnies</ion-item>
      <ion-item id="comfort-list-item11" style="">Expansion </ion-item>
      <ion-item id="comfort-list-item12" style="">Once in good state, set intent to maintain it.</ion-item>
    </ion-list>
  </ion-content>
</ion-view>