<ion-view title="Home Page" id="page2" style="background-color: rgb(255, 255, 255);">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon ion-home"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <h1 id="homePage-heading4" style="color: rgb(0, 0, 0); text-align: center;">Welcome Home</h1>
    <button id="homePage-button1" class="button button-assertive button-large button-clear icon ion-heart"></button>
    <button id="homePage-button2" class="button button-assertive button-large button-clear icon ion-heart"></button>
    <button id="homePage-button3" class="button button-assertive button-large button-clear icon ion-heart"></button>
    <button id="homePage-button4" class="button button-assertive button-large button-clear icon ion-heart"></button>
    <div flashcards data='data/demo.json' src='img/card-icon.png'>asdf</div>
  </ion-content>
</ion-view>