<ion-view title="Tools" id="page3" style="">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-wrench"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider1" delegate-handle="slider1" id="tools-slider1" style="width:100%;height:200px;">
      <ion-slide-page id="tools-slide21" style="background:url(&quot;img/YXh5HiurRBOl0o7l6Yut_willing.gif&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="tools-slide24" style="background:url(&quot;img/hDeUPAnPSLaCcIZXQNSK_confidence.gif&quot;) no-repeat center;background-size:cover;background-color:#FFD700;" class="slidethingy">
        <div style="display:table;width:100%;height:100%;">
          <div style="display:table-row;">
            <div style="display:table-cell;vertical-align:middle;"></div>
          </div>
        </div>
      </ion-slide-page>
      <ion-slide-page id="tools-slide22" style="background:url(&quot;img/i9FeeAQTgamfRnFSNbyA_focusext.gif&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>